@import '../colors.css';
@import '../variables.css';
@import './config.css';

.menuOutter, .popupMenuInner {
    display: flex;
}

.popup {
    .vertical {
        &.menu {
            background: #fff;
            flex: 1;
        }

        .popupMenu {
            background: #fff;
        }

        .menuItem, .subMenuItem {
          color: var(--color-text);
          height: var(--menu-item-height);
          line-height: var(--menu-item-height);
          text-align: center;

          &:not(.disabled):hover {
            background-color: var(--menu-item-hover-background);
          }
        }

        .arrow {
            opacity: 0.3;
        }
    }
}
