@import "../colors.css";
@import "../variables.css";
@import "./config.css";


.tabs {
  display: flex;
  flex-direction: column;

  @apply --reset;
}

.label {
  font-size: var(--tab-text-height);
  font-weight: var(--font-weight-semi-bold);
  line-height: 1;

  position: relative;

  padding: var(--tab-label-v-padding) var(--tab-label-h-padding);

  transition-timing-function: var(--animation-curve-default);
  transition-duration: var(--animation-duration);
  transition-property: box-shadow, color;
  text-transform: uppercase;

  color: var(--tab-text-inactive-color);

  & > .rippleWrapper {
    overflow: hidden;
  }

  &.active {
    color: var(--tab-text-color);
  }

  &.disabled {
    opacity: var(--tab-label-disabled-opacity);
  }

  &:not(.disabled) {
    cursor: pointer;
  }

  &.hidden {
    display: none;
  }
}


.tab {
  padding: var(--tab-label-v-padding) var(--tab-label-h-padding);

  outline: none;

  &:not(.active) {
    display: none;
  }

  &.active {
    display: block;
  }
}

.navigation {
  position: relative;

  display: flex;
  overflow-x: hidden;
  flex-direction: row;

  box-shadow: inset 0 -1px var(--tab-navigation-border-color);
}

.navigationContainer {
  display: flex;

  & .navigation {
    flex: 1;
  }
}

.pointer {
  position: absolute;

  width: 0;
  height: var(--tab-pointer-height);
  margin-top: calc(-1 * var(--tab-pointer-height));

  transition-timing-function: var(--animation-curve-default);
  transition-duration: var(--animation-duration);
  transition-property: left, width;

  background-color: var(--tab-pointer-color);
}
