{
    "presets": [
        ["cq", {
            "target": "web",
            "modules": "commonjs",
            "env": "development"
        }]
    ],
    "plugins": [
        "transform-decorators-legacy"
    ]
}
