:root {
    --input-color: var(--palette-grey-900);
    --input-text-background-color: transparent;
    --input-text-bottom-border-color: color(var(--color-black) a(12%));
    --input-text-highlight-color: var(--color-primary);
    --input-field-padding: calc(0.8 * var(--unit));
    --input-border-color-focus: var(--color-primary);
    --input-line-height: calc(2.8 * var(--unit));
    --input-small-line-height: calc(2.2 * var(--unit));
    --input-large-line-height: calc(3.2 * var(--unit));


    --input-icon-color: var(--palette-grey-900);
    --input-icon-width: 28px;
    --input-small-icon-width: 24px;
    --input-large-icon-width: 32px;
    --input-icon-close-color-hover: var(--palette-grey-500);
}
