@import '../colors.css';
@import '../variables.css';
@import './config.css';

.input {
    display: flex;
    align-items: center;
    position: relative;
    @apply --reset;
    font-size: var(--font-size);
    padding: var(--input-field-padding) 0;
    border-bottom: 1px solid var(--input-text-bottom-border-color);
}

.inputElement {
    appearance: none;
    background-image: none;
    background-color: var(--input-text-background-color);
    color: var(--input-color);
    box-sizing: border-box;
    font-size: inherit;
    padding: 0 var(--input-field-padding);
    line-height: inherit;
    border: 0;
    outline: none;
    width: 100%;
    flex: 1;

    &:focus:not([disabled]):not([readonly]) {
        & ~ .bar::before,
        & ~ .bar::after {
          width: 50%;
        }
    }
}

.icon {
    font-size: var(--font-size-large);
}

.bar {
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;

  &::before,
  &::after {
    background-color: var(--input-text-highlight-color);
    bottom: 0;
    content: '';
    height: 2px;
    position: absolute;
    transition-duration: 0.2s;
    transition-property: width, background-color;
    transition-timing-function: var(--animation-curve-default);
    width: 0;
  }

  &::before {
    left: 50%;
  }

  &::after {
    right: 50%;
  }
}

.normal {
    line-height: var(--input-line-height);

    .prefix, .suffix {
        width: var(--input-icon-width);
        height: var(--input-icon-width);
        line-height: var(--input-icon-width);
    }
}

.small {
    line-height: var(--input-small-line-height);

    .prefix, .suffix {
        width: var(--input-small-icon-width);
        height: var(--input-small-icon-width);
        line-height: var(--input-small-icon-width);
    }
}

.large {
    line-height: var(--input-large-line-height);

    .prefix, .suffix {
        width: var(--input-large-icon-width);
        height: var(--input-large-icon-width);
        line-height: var(--input-large-icon-width);
    }
}

.prefix, .suffix {
    color: var(--input-icon-color);
    transition: color 0.2s var(--animation-curve-default);
    cursor: pointer;

    &.search:hover {
        color: var(--input-border-color-focus);
    }

    &.close-circle {
        color: var(--input-text-bottom-border-color);
    }

    &.close-circle:hover {
        color: var(--input-icon-close-color-hover);
    }
}



.textarea {
    display: block;
    width: 100%;
    resize: vertical;
    padding: 5px 7px;
    line-height: var(--input-line-height);

    @apply --reset;

    font-size: var(--font-size);
    border: 1px solid var(--input-text-bottom-border-color);
    color: var(--input-color);
    background-color: #fff;
    background-image: none;
    border-radius: 4px;
    transition: border-color var(--animation-duration) var(--animation-curve-default);

    &:focus:not([disabled]):not([readonly]),
    &:hover:not([disabled]):not([readonly]) {
        outline: none;
        border-color: var(--input-border-color-focus);
    }
}
