@import '../colors.css';
@import '../variables.css';
@import './config.css';

.wrapper {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: var(--z-index-higher);

  @apply --reset;
}

.dialog {
  background-color: var(--dialog-color-white);
  border-radius: var(--dialog-border-radius);
  box-shadow: var(--zdepth-shadow-5);
  display: flex;
  flex-direction: column;
  max-height: 96vh;
  max-width: 96vw;
  opacity: 0;
  transform: translateY(calc(-1 * var(--dialog-translate-y)));
  transition:
    opacity var(--animation-duration) var(--animation-curve-default),
    transform var(--animation-duration) var(--animation-curve-default);
  transition-delay: var(--animation-delay);

  &.active {
    opacity: 1;
    transform: translateY(0%);
  }

  .title {
    color: var(--dialog-color-title);
    flex-grow: 0;
    font-size: calc(2 * var(--unit));
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 1;
    margin: 0 0 calc(1.6 * var(--unit));
  }

  .body {
    color: var(--color-text-secondary);
    flex-grow: 2;
    padding: var(--dialog-content-padding);
    font-size: calc(1.4 * var(--unit));
    font-weight: 400;
    line-height: calc(2.4 * var(--unit));
  }

  .navigation {
    flex-grow: 0;
    padding: var(--dialog-navigation-padding);
    text-align: right;
  }

  .small {
    width: 30vw;
  }

  .normal {
    width: 50vw;
  }

  .large {
    width: 96vw;
  }

  .fullscreen {
    width: 96vw;
  }

  .button {
      padding: 0 32px;
      font-size: 17px;
      width: var(--dialog-navigation-button-width);
  }

  .button:not(:only-child) {
    margin-left: var(--dialog-navigation-padding);
  }
}

.confirm, .success, .warning, .error {
    width: 416px;
    text-align: center;
    .icon {
        font-size: calc(4 * var(--unit));;
    }
    .content {
        margin: var(--dialog-navigation-padding) 0;
        font-size: calc(1.6 * var(--unit));
    }
    .navigation {
        text-align: center;
    }
}


.confirm .icon {color: var(--palette-yellow-700)}
.success .icon {color: var(--palette-green-a700)}
.warning .icon {color: var(--palette-yellow-a700)}
.error .icon {color: var(--palette-red-a700)}
