.mask {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #373737;
    background-color: rgba(55,55,55,.6);
    height: 100%;
    z-index: 1000;
}

.popup-appear {
    opacity: 0.01;
    transform: translate(0, 10px);
}

.popup-appear-active {
    opacity: 1;
    transform: translate(0, 0);
    transition: opacity .2s ease-in, transform .2s ease-in;
}

.mask-appear {
    opacity: 0.01;
    transform: translate(0, 10px);
}

.mask-appear-active {
    opacity: 1;
    transform: translate(0, 0);
    transition: opacity .2s ease-in, transform .2s ease-in;
}
