:root {
  --button-border-radius: calc(0.2 * var(--unit));
  --button-line-height: 1.9;
  --button-height: 27;
  --button-toggle-font-size: calc(2 * var(--unit));
  --button-primary-color: var(--color-primary);
  --button-primary-color-hover: color(var(--color-primary) a(20%));
  --button-primary-color-contrast: var(--color-primary-contrast);
  --button-primary-border-color: var(--color-primary);
  --button-accent-color: var(--color-accent);
  --button-accent-color-contrast: var(--color-primary-contrast);
  --button-accent-border-color: var(--color-accent);
  --button-accent-color-hover: color(var(--color-accent) a(20%));
  --button-neutral-color: var(--color-white);
  --button-neutral-color-contrast: var(--palette-grey-900);
  --button-neutral-border-color: var(--palette-grey-300);
  --button-neutral-color-hover: color(var(--palette-grey-500) a(20%));
  --button-floating-font-size: calc(2.4 * var(--unit));
  --button-floating-height: calc(5.6 * var(--unit));
  --button-floating-mini-height: calc(4 * var(--unit));
  --button-floating-mini-font-size: calc(var(--button-floating-mini-height) / 2.25);
  --button-disabled-text-color: color(var(--color-black) a(26%));
  --button-disabled-background-color: color(var(--color-black) a(12%));
  --button-disabled-text-color-inverse: color(var(--color-black) a(54%));
  --button-disabled-background-inverse: color(var(--color-black) a(8%));
  --button-squared-icon-margin: 0.5em;
  --button-squared-min-width: calc(2 * var(--unit));
  --button-squared-padding: 0 calc(1.2 * var(--unit));
}
