@import '../colors.css';
@import '../variables.css';
@import './config.css';

.layout {
    display: flex;
    flex-direction: column;
    flex: auto;
    overflow: auto;
    background: var(--layout-background);
}

.hasSider {
    flex-direction: row;
}

.header, .footer {
    flex: 0 0 auto;
}

.header {
    position: fixed;
    width: 100%;
    z-index: 1000;
    background: var(--header-background);
    padding: var(--header-padding);
    height: var(--header-height);
    line-height: var(--header-height);
}

.footer {
    padding: var(--footer-padding);
    color: var(--color-text);
    font-size: var(--font-size-normal);
}

.sider {
    position: relative;
    background: var(--sider-background);
    margin-top: var(--header-height);
    transition:
        width var(--animation-duration) var(--animation-curve-linear-out-slow-in),
        flex var(--animation-duration) var(--animation-curve-linear-out-slow-in);
    &.collapsed .subMenuItem .caption {
        display: none;
    }

    .trigger {
        width: 100%;
        cursor: pointer;
        height: 48px;
        line-height: 48px;
        color: #fff;
        background-color: rgb(0, 0, 0, 0.2);
    }
}

.content {
    margin-top: var(--header-height);
    flex: auto;
}
