

:root {
    --icon-url : ./font/iconfont;
}

.icon {
    display: inline-block;
    font-style: normal;
    vertical-align: baseline;
    text-align: center;
    text-transform: none;
    line-height: 1;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    &:before {
        display: block;
        font-family: "anticon";
    }

    &.step-forward:before { content: "\e600"; }
    &.step-forward:before { content: "\e600"; }
    &.step-backward:before { content: "\e601"; }
    &.forward:before { content: "\e602"; }
    &.backward:before { content: "\e603"; }
    &.caret-right:before { content: "\e604"; }
    &.caret-left:before { content: "\e605"; }
    &.caret-down:before { content: "\e606"; }
    &.caret-up:before { content: "\e607"; }
    &.right-circle:before { content: "\e608"; }
    &.circle-right:before { content: "\e608"; }
    &.caret-circle-right:before { content: "\e608"; }
    &.left-circle:before { content: "\e609"; }
    &.circle-left:before { content: "\e609"; }
    &.caret-circle-left:before { content: "\e609"; }
    &.up-circle:before { content: "\e60a"; }
    &.circle-up:before { content: "\e60a"; }
    &.caret-circle-up:before { content: "\e60a"; }
    &.down-circle:before { content: "\e60b"; }
    &.circle-down:before { content: "\e60b"; }
    &.caret-circle-down:before { content: "\e60b"; }
    &.right-circle-o:before { content: "\e60c"; }
    &.circle-o-right:before { content: "\e60c"; }
    &.caret-circle-o-right:before { content: "\e60c"; }
    &.left-circle-o:before { content: "\e60d"; }
    &.circle-o-left:before { content: "\e60d"; }
    &.caret-circle-o-left:before { content: "\e60d"; }
    &.up-circle-o:before { content: "\e60e"; }
    &.circle-o-up:before { content: "\e60e"; }
    &.caret-circle-o-up:before { content: "\e60e"; }
    &.down-circle-o:before { content: "\e60f"; }
    &.circle-o-down:before { content: "\e60f"; }
    &.caret-circle-o-down:before { content: "\e60f"; }
    &.verticle-left:before { content: "\e610"; }
    &.verticle-right:before { content: "\e611"; }
    &.rollback:before { content: "\e612"; }
    &.retweet:before { content: "\e613"; }
    &.shrink:before { content: "\e614"; }
    &.arrows-alt:before { content: "\e615"; }
    &.arrow-salt:before { content: "\e615"; }
    &.reload:before { content: "\e616"; }
    &.double-right:before { content: "\e617"; }
    &.double-left:before { content: "\e618"; }
    &.arrow-down:before { content: "\e619"; }
    &.arrow-up:before { content: "\e61a"; }
    &.arrow-right:before { content: "\e61b"; }
    &.arrow-left:before { content: "\e61c"; }
    &.down:before { content: "\e61d"; }
    &.up:before { content: "\e61e"; }
    &.right:before { content: "\e61f"; }
    &.left:before { content: "\e620"; }
    &.minus-square-o:before { content: "\e621"; }
    &.minus-circle:before { content: "\e622"; }
    &.minus-circle-o:before { content: "\e623"; }
    &.minus:before { content: "\e624"; }
    &.plus-circle-o:before { content: "\e625"; }
    &.plus-circle:before { content: "\e626"; }
    &.plus:before { content: "\e627"; }
    &.info-circle:before { content: "\e628"; }
    &.info-circle-o:before { content: "\e629"; }
    &.info:before { content: "\e62a"; }
    &.exclamation:before { content: "\e62b"; }
    &.exclamation-circle:before { content: "\e62c"; }
    &.exclamation-circle-o:before { content: "\e62d"; }
    &.close-circle:before { content: "\e62e"; }
    &.cross-circle:before { content: "\e62e"; }
    &.close-circle-o:before { content: "\e62f"; }
    &.cross-circle-o:before { content: "\e62f"; }
    &.check-circle:before { content: "\e630"; }
    &.check-circle-o:before { content: "\e631"; }
    &.check:before { content: "\e632"; }
    &.close:before { content: "\e633"; }
    &.cross:before { content: "\e633"; }
    &.customer-service:before { content: "\e634"; }
    &.customerservice:before { content: "\e634"; }
    &.credit-card:before { content: "\e635"; }
    &.code-o:before { content: "\e636"; }
    &.book:before { content: "\e637"; }
    &.bar-chart:before { content: "\e638"; }
    &.bars:before { content: "\e639"; }
    &.question:before { content: "\e63a"; }
    &.question-circle:before { content: "\e63b"; }
    &.question-circle-o:before { content: "\e63c"; }
    &.pause:before { content: "\e63d"; }
    &.pause-circle:before { content: "\e63e"; }
    &.pause-circle-o:before { content: "\e63f"; }
    &.clock-circle:before { content: "\e640"; }
    &.clock-circle-o:before { content: "\e641"; }
    &.swap:before { content: "\e642"; }
    &.swap-left:before { content: "\e643"; }
    &.swap-right:before { content: "\e644"; }
    &.plus-square-o:before { content: "\e645"; }
    &.frown:before { content: "\e646"; }
    &.frown-circle:before { content: "\e646"; }
    &.ellipsis:before { content: "\e647"; }
    &.copy:before { content: "\e648"; }
    &.menu-fold:before { content: "\e658"; }
    &.mail:before { content: "\e659"; }
    &.logout:before { content: "\e65a"; }
    &.link:before { content: "\e65b"; }
    &.area-chart:before { content: "\e65c"; }
    &.line-chart:before { content: "\e65d"; }
    &.home:before { content: "\e65e"; }
    &.laptop:before { content: "\e65f"; }
    &.star:before { content: "\e660"; }
    &.star-o:before { content: "\e661"; }
    &.folder:before { content: "\e662"; }
    &.filter:before { content: "\e663"; }
    &.file:before { content: "\e664"; }
    &.exception:before { content: "\e665"; }
    &.meh:before { content: "\e666"; }
    &.meh-circle:before { content: "\e666"; }
    &.meh-o:before { content: "\e667"; }
    &.shopping-cart:before { content: "\e668"; }
    &.save:before { content: "\e669"; }
    &.user:before { content: "\e66a"; }
    &.video-camera:before { content: "\e66b"; }
    &.to-top:before { content: "\e66c"; }
    &.team:before { content: "\e66d"; }
    &.tablet:before { content: "\e66e"; }
    &.solution:before { content: "\e66f"; }
    &.search:before { content: "\e670"; }
    &.share-alt:before { content: "\e671"; }
    &.setting:before { content: "\e672"; }
    &.poweroff:before { content: "\e6d5"; }
    &.picture:before { content: "\e674"; }
    &.phone:before { content: "\e675"; }
    &.paper-clip:before { content: "\e676"; }
    &.notification:before { content: "\e677"; }
    &.mobile:before { content: "\e678"; }
    &.menu-unfold:before { content: "\e679"; }
    &.inbox:before { content: "\e67a"; }
    &.lock:before { content: "\e67b"; }
    &.qrcode:before { content: "\e67c"; }
    &.play-circle:before { content: "\e6d0"; }
    &.play-circle-o:before { content: "\e6d1"; }
    &.tag:before { content: "\e6d2"; }
    &.tag-o:before { content: "\e6d3"; }
    &.tags:before { content: "\e67d"; }
    &.tags-o:before { content: "\e67e"; }
    &.cloud-o:before { content: "\e67f"; }
    &.cloud:before { content: "\e680"; }
    &.cloud-upload:before { content: "\e681"; }
    &.cloud-download:before { content: "\e682"; }
    &.cloud-download-o:before { content: "\e683"; }
    &.cloud-upload-o:before { content: "\e684"; }
    &.environment:before { content: "\e685"; }
    &.environment-o:before { content: "\e686"; }
    &.eye:before { content: "\e687"; }
    &.eye-o:before { content: "\e688"; }
    &.camera:before { content: "\e689"; }
    &.camera-o:before { content: "\e68a"; }
    &.windows:before { content: "\e68b"; }
    &.apple:before { content: "\e68c"; }
    &.apple-o:before { content: "\e6d4"; }
    &.android:before { content: "\e938"; }
    &.android-o:before { content: "\e68d"; }
    &.aliwangwang:before { content: "\e68e"; }
    &.aliwangwang-o:before { content: "\e68f"; }
    &.export:before { content: "\e691"; }
    &.edit:before { content: "\e692"; }
    &.circle-down-o:before { content: "\e693"; }
    &.circle-down-:before { content: "\e694"; }
    &.appstore-o:before { content: "\e695"; }
    &.appstore:before { content: "\e696"; }
    &.scan:before { content: "\e697"; }
    &.file-text:before { content: "\e698"; }
    &.folder-open:before { content: "\e699"; }
    &.hdd:before { content: "\e69a"; }
    &.ie:before { content: "\e69b"; }
    &.file-jpg:before { content: "\e69c"; }
    &.like:before { content: "\e64c"; }
    &.like-o:before { content: "\e69d"; }
    &.dislike:before { content: "\e64b"; }
    &.dislike-o:before { content: "\e69e"; }
    &.delete:before { content: "\e69f"; }
    &.enter:before { content: "\e6a0"; }
    &.pushpin-o:before { content: "\e6a1"; }
    &.pushpin:before { content: "\e6a2"; }
    &.heart:before { content: "\e6a3"; }
    &.heart-o:before { content: "\e6a4"; }
    &.pay-circle:before { content: "\e6a5"; }
    &.pay-circle-o:before { content: "\e6a6"; }
    &.smile:before { content: "\e6a7"; }
    &.smile-circle:before { content: "\e6a7"; }
    &.smile-o:before { content: "\e6a8"; }
    &.frown-o:before { content: "\e6a9"; }
    &.calculator:before { content: "\e6aa"; }
    &.message:before { content: "\e6ab"; }
    &.chrome:before { content: "\e6ac"; }
    &.github:before { content: "\e6ad"; }
    &.file-unknown:before { content: "\e6af"; }
    &.file-excel:before { content: "\e6b0"; }
    &.file-ppt:before { content: "\e6b1"; }
    &.file-word:before { content: "\e6b2"; }
    &.file-pdf:before { content: "\e6b3"; }
    &.desktop:before { content: "\e6b4"; }
    &.upload:before { content: "\e6b6"; }
    &.download:before { content: "\e6b7"; }
    &.pie-chart:before { content: "\e6b8"; }
    &.unlock:before { content: "\e6ba"; }
    &.calendar:before { content: "\e6bb"; }
    &.windows-o:before { content: "\e6bc"; }
    &.dot-chart:before { content: "\e6bd"; }
    &.bar-chart:before { content: "\e6be"; }
    &.code:before { content: "\e6bf"; }
    &.plus-square:before { content: "\e6c0"; }
    &.minus-square:before { content: "\e6c1"; }
    &.close-square:before { content: "\e6c2"; }
    &.close-square-o:before { content: "\e6c3"; }
    &.check-square:before { content: "\e6c4"; }
    &.check-square-o:before { content: "\e6c5"; }
    &.fast-backward:before { content: "\e6c6"; }
    &.fast-forward:before { content: "\e6c7"; }
    &.up-square:before { content: "\e6c8"; }
    &.down-square:before { content: "\e6c9"; }
    &.left-square:before { content: "\e6ca"; }
    &.right-square:before { content: "\e6cb"; }
    &.right-square-o:before { content: "\e6cc"; }
    &.left-square-o:before { content: "\e6cd"; }
    &.down-square-o:before { content: "\e6ce"; }
    &.up-square-o:before { content: "\e6cf"; }
    &.loading:before { content: "\e64d"; }
    &.loading-3-quarters:before { content: "\e6ae"; }
    &.bulb:before { content: "\e649"; }
    &.select:before { content: "\e64a"; }
    &.addfile,
    &.file-add:before { content: "\e910"; }
    &.addfolder,
    &.folder-add:before { content: "\e914"; }
    &.switcher:before { content: "\e913"; }
    &.rocket:before { content: "\e90f"; }
    &.dingding:before { content: "\e923"; }
    &.dingding-o:before { content: "\e925"; }
    &.bell:before { content: "\e64e"; }
    &.disconnect:before { content: "\e64f"; }
    &.database:before { content: "\e650"; }
    &.compass:before { content: "\e6db"; }
    &.barcode:before { content: "\e652"; }
    &.hourglass:before { content: "\e653"; }
    &.key:before { content: "\e654"; }
    &.flag:before { content: "\e655"; }
    &.layout:before { content: "\e656"; }
    &.login:before { content: "\e657"; }
    &.printer:before { content: "\e673"; }
    &.sound:before { content: "\e6e9"; }
    &.usb:before { content: "\e6d7"; }
    &.skin:before { content: "\e6d8"; }
    &.tool:before { content: "\e6d9"; }
    &.sync:before { content: "\e6da"; }
    &.wifi:before { content: "\e6d6"; }
    &.car:before { content: "\e6dc"; }
    &.copyright:before { content: "\e6de"; }
    &.schedule:before { content: "\e6df"; }
    &.user-add:before { content: "\e6ed"; }
    &.user-delete:before { content: "\e6e0"; }
    &.usergroup-add:before { content: "\e6dd"; }
    &.usergroup-delete:before { content: "\e6e1"; }
    &.man:before { content: "\e6e2"; }
    &.woman:before { content: "\e6ec"; }
    &.shop:before { content: "\e6e3"; }
    &.gift:before { content: "\e6e4"; }
    &.idcard:before { content: "\e6e5"; }
    &.medicine-box:before { content: "\e6e6"; }
    &.red-envelope:before { content: "\e6e7"; }
    &.coffee:before { content: "\e6e8"; }
    &.trademark:before { content: "\e651"; }
    &.safety:before { content: "\e6ea"; }
    &.wallet:before { content: "\e6eb"; }
    &.bank:before { content: "\e6ee"; }
    &.trophy:before { content: "\e6ef"; }
    &.contacts:before { content: "\e6f0"; }
    &.global:before { content: "\e6f1"; }
    &.shake:before { content: "\e94f"; }
    &.spin:before {
      display: inline-block;
      animation: loading-circle 1s infinite linear;
    }
}

@keyframes loading-circle {
  0% {
    transform-origin: 50% 50%;
    transform: rotate(0deg);
  }
  100% {
    transform-origin: 50% 50%;
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: 'anticon';
  src: url('var(--icon-url).eot'); /* IE9*/
  src:
  /* IE6-IE8 */
  url('var(--icon-url).eot?#iefix') format('embedded-opentype'),
  /* chrome、firefox */
  url('var(--icon-url).woff') format('woff'),
  /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('var(--icon-url).ttf') format('truetype'),
  /* iOS 4.1- */
  url('var(--icon-url).svg#iconfont') format('svg');
}
