@import './loading-circle.css';

:root {
    --icon-url : ../font/iconfont;

    --icon-content: {
      display: inline-block;
      font-style: normal;
      vertical-align: baseline;
      text-align: center;
      text-transform: none;
      line-height: 1;
      text-rendering: optimizeLegibility;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
}

@font-face {
  font-family: 'anticon';
  src: url('var(--icon-url).eot'); /* IE9*/
  src:
  /* IE6-IE8 */
  url('var(--icon-url).eot?#iefix') format('embedded-opentype'),
  /* chrome、firefox */
  url('var(--icon-url).woff') format('woff'),
  /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('var(--icon-url).ttf') format('truetype'),
  /* iOS 4.1- */
  url('var(--icon-url).svg#iconfont') format('svg');
}

.icon {
    @apply --icon-content;
}

@define-mixin icon $fontName {
    .icon.icon-$(fontName) {
        &:before {
            display: block;
            font-family: "anticon";
            @mixin-content;
        }
    }
}

@mixin icon step-forward {content: "\e600"; }
@mixin icon step-forward { content: "\e600"; }
@mixin icon step-backward { content: "\e601"; }
@mixin icon forward { content: "\e602"; }
@mixin icon backward { content: "\e603"; }
@mixin icon caret-right { content: "\e604"; }
@mixin icon caret-left { content: "\e605"; }
@mixin icon caret-down { content: "\e606"; }
@mixin icon caret-up { content: "\e607"; }
@mixin icon right-circle { content: "\e608"; }
@mixin icon circle-right { content: "\e608"; }
@mixin icon caret-circle-right { content: "\e608"; }
@mixin icon left-circle { content: "\e609"; }
@mixin icon circle-left { content: "\e609"; }
@mixin icon caret-circle-left { content: "\e609"; }
@mixin icon up-circle { content: "\e60a"; }
@mixin icon circle-up { content: "\e60a"; }
@mixin icon caret-circle-up { content: "\e60a"; }
@mixin icon down-circle { content: "\e60b"; }
@mixin icon circle-down { content: "\e60b"; }
@mixin icon caret-circle-down { content: "\e60b"; }
@mixin icon right-circle-o { content: "\e60c"; }
@mixin icon circle-o-right { content: "\e60c"; }
@mixin icon caret-circle-o-right { content: "\e60c"; }
@mixin icon left-circle-o { content: "\e60d"; }
@mixin icon circle-o-left { content: "\e60d"; }
@mixin icon caret-circle-o-left { content: "\e60d"; }
@mixin icon up-circle-o { content: "\e60e"; }
@mixin icon circle-o-up { content: "\e60e"; }
@mixin icon caret-circle-o-up { content: "\e60e"; }
@mixin icon down-circle-o { content: "\e60f"; }
@mixin icon circle-o-down { content: "\e60f"; }
@mixin icon caret-circle-o-down { content: "\e60f"; }
@mixin icon verticle-left { content: "\e610"; }
@mixin icon verticle-right { content: "\e611"; }
@mixin icon rollback { content: "\e612"; }
@mixin icon retweet { content: "\e613"; }
@mixin icon shrink { content: "\e614"; }
@mixin icon arrows-alt { content: "\e615"; }
@mixin icon arrow-salt { content: "\e615"; }
@mixin icon reload { content: "\e616"; }
@mixin icon double-right { content: "\e617"; }
@mixin icon double-left { content: "\e618"; }
@mixin icon arrow-down { content: "\e619"; }
@mixin icon arrow-up { content: "\e61a"; }
@mixin icon arrow-right { content: "\e61b"; }
@mixin icon arrow-left { content: "\e61c"; }
@mixin icon down { content: "\e61d"; }
@mixin icon up { content: "\e61e"; }
@mixin icon right { content: "\e61f"; }
@mixin icon left { content: "\e620"; }
@mixin icon minus-square-o { content: "\e621"; }
@mixin icon minus-circle { content: "\e622"; }
@mixin icon minus-circle-o { content: "\e623"; }
@mixin icon minus { content: "\e624"; }
@mixin icon plus-circle-o { content: "\e625"; }
@mixin icon plus-circle { content: "\e626"; }
@mixin icon plus { content: "\e627"; }
@mixin icon info-circle { content: "\e628"; }
@mixin icon info-circle-o { content: "\e629"; }
@mixin icon info { content: "\e62a"; }
@mixin icon exclamation { content: "\e62b"; }
@mixin icon exclamation-circle { content: "\e62c"; }
@mixin icon exclamation-circle-o { content: "\e62d"; }
@mixin icon close-circle { content: "\e62e"; }
@mixin icon cross-circle { content: "\e62e"; }
@mixin icon close-circle-o { content: "\e62f"; }
@mixin icon cross-circle-o { content: "\e62f"; }
@mixin icon check-circle { content: "\e630"; }
@mixin icon check-circle-o { content: "\e631"; }
@mixin icon check { content: "\e632"; }
@mixin icon close { content: "\e633"; }
@mixin icon cross { content: "\e633"; }
@mixin icon customer-service { content: "\e634"; }
@mixin icon customerservice { content: "\e634"; }
@mixin icon credit-card { content: "\e635"; }
@mixin icon code-o { content: "\e636"; }
@mixin icon book { content: "\e637"; }
@mixin icon bar-chart { content: "\e638"; }
@mixin icon bars { content: "\e639"; }
@mixin icon question { content: "\e63a"; }
@mixin icon question-circle { content: "\e63b"; }
@mixin icon question-circle-o { content: "\e63c"; }
@mixin icon pause { content: "\e63d"; }
@mixin icon pause-circle { content: "\e63e"; }
@mixin icon pause-circle-o { content: "\e63f"; }
@mixin icon clock-circle { content: "\e640"; }
@mixin icon clock-circle-o { content: "\e641"; }
@mixin icon swap { content: "\e642"; }
@mixin icon swap-left { content: "\e643"; }
@mixin icon swap-right { content: "\e644"; }
@mixin icon plus-square-o { content: "\e645"; }
@mixin icon frown { content: "\e646"; }
@mixin icon frown-circle { content: "\e646"; }
@mixin icon ellipsis { content: "\e647"; }
@mixin icon copy { content: "\e648"; }
@mixin icon menu-fold { content: "\e658"; }
@mixin icon mail { content: "\e659"; }
@mixin icon logout { content: "\e65a"; }
@mixin icon link { content: "\e65b"; }
@mixin icon area-chart { content: "\e65c"; }
@mixin icon line-chart { content: "\e65d"; }
@mixin icon home { content: "\e65e"; }
@mixin icon laptop { content: "\e65f"; }
@mixin icon star { content: "\e660"; }
@mixin icon star-o { content: "\e661"; }
@mixin icon folder { content: "\e662"; }
@mixin icon filter { content: "\e663"; }
@mixin icon file { content: "\e664"; }
@mixin icon exception { content: "\e665"; }
@mixin icon meh { content: "\e666"; }
@mixin icon meh-circle { content: "\e666"; }
@mixin icon meh-o { content: "\e667"; }
@mixin icon shopping-cart { content: "\e668"; }
@mixin icon save { content: "\e669"; }
@mixin icon user { content: "\e66a"; }
@mixin icon video-camera { content: "\e66b"; }
@mixin icon to-top { content: "\e66c"; }
@mixin icon team { content: "\e66d"; }
@mixin icon tablet { content: "\e66e"; }
@mixin icon solution { content: "\e66f"; }
@mixin icon search { content: "\e670"; }
@mixin icon share-alt { content: "\e671"; }
@mixin icon setting { content: "\e672"; }
@mixin icon poweroff { content: "\e6d5"; }
@mixin icon picture { content: "\e674"; }
@mixin icon phone { content: "\e675"; }
@mixin icon paper-clip { content: "\e676"; }
@mixin icon notification { content: "\e677"; }
@mixin icon mobile { content: "\e678"; }
@mixin icon menu-unfold { content: "\e679"; }
@mixin icon inbox { content: "\e67a"; }
@mixin icon lock { content: "\e67b"; }
@mixin icon qrcode { content: "\e67c"; }
@mixin icon play-circle { content: "\e6d0"; }
@mixin icon play-circle-o { content: "\e6d1"; }
@mixin icon tag { content: "\e6d2"; }
@mixin icon tag-o { content: "\e6d3"; }
@mixin icon tags { content: "\e67d"; }
@mixin icon tags-o { content: "\e67e"; }
@mixin icon cloud-o { content: "\e67f"; }
@mixin icon cloud { content: "\e680"; }
@mixin icon cloud-upload { content: "\e681"; }
@mixin icon cloud-download { content: "\e682"; }
@mixin icon cloud-download-o { content: "\e683"; }
@mixin icon cloud-upload-o { content: "\e684"; }
@mixin icon environment { content: "\e685"; }
@mixin icon environment-o { content: "\e686"; }
@mixin icon eye { content: "\e687"; }
@mixin icon eye-o { content: "\e688"; }
@mixin icon camera { content: "\e689"; }
@mixin icon camera-o { content: "\e68a"; }
@mixin icon windows { content: "\e68b"; }
@mixin icon apple { content: "\e68c"; }
@mixin icon apple-o { content: "\e6d4"; }
@mixin icon android { content: "\e938"; }
@mixin icon android-o { content: "\e68d"; }
@mixin icon aliwangwang { content: "\e68e"; }
@mixin icon aliwangwang-o { content: "\e68f"; }
@mixin icon export { content: "\e691"; }
@mixin icon edit { content: "\e692"; }
@mixin icon circle-down-o { content: "\e693"; }
@mixin icon circle-down- { content: "\e694"; }
@mixin icon appstore-o { content: "\e695"; }
@mixin icon appstore { content: "\e696"; }
@mixin icon scan { content: "\e697"; }
@mixin icon file-text { content: "\e698"; }
@mixin icon folder-open { content: "\e699"; }
@mixin icon hdd { content: "\e69a"; }
@mixin icon ie { content: "\e69b"; }
@mixin icon file-jpg { content: "\e69c"; }
@mixin icon like { content: "\e64c"; }
@mixin icon like-o { content: "\e69d"; }
@mixin icon dislike { content: "\e64b"; }
@mixin icon dislike-o { content: "\e69e"; }
@mixin icon delete { content: "\e69f"; }
@mixin icon enter { content: "\e6a0"; }
@mixin icon pushpin-o { content: "\e6a1"; }
@mixin icon pushpin { content: "\e6a2"; }
@mixin icon heart { content: "\e6a3"; }
@mixin icon heart-o { content: "\e6a4"; }
@mixin icon pay-circle { content: "\e6a5"; }
@mixin icon pay-circle-o { content: "\e6a6"; }
@mixin icon smile { content: "\e6a7"; }
@mixin icon smile-circle { content: "\e6a7"; }
@mixin icon smile-o { content: "\e6a8"; }
@mixin icon frown-o { content: "\e6a9"; }
@mixin icon calculator { content: "\e6aa"; }
@mixin icon message { content: "\e6ab"; }
@mixin icon chrome { content: "\e6ac"; }
@mixin icon github { content: "\e6ad"; }
@mixin icon file-unknown { content: "\e6af"; }
@mixin icon file-excel { content: "\e6b0"; }
@mixin icon file-ppt { content: "\e6b1"; }
@mixin icon file-word { content: "\e6b2"; }
@mixin icon file-pdf { content: "\e6b3"; }
@mixin icon desktop { content: "\e6b4"; }
@mixin icon upload { content: "\e6b6"; }
@mixin icon download { content: "\e6b7"; }
@mixin icon pie-chart { content: "\e6b8"; }
@mixin icon unlock { content: "\e6ba"; }
@mixin icon calendar { content: "\e6bb"; }
@mixin icon windows-o { content: "\e6bc"; }
@mixin icon dot-chart { content: "\e6bd"; }
@mixin icon bar-chart { content: "\e6be"; }
@mixin icon code { content: "\e6bf"; }
@mixin icon plus-square { content: "\e6c0"; }
@mixin icon minus-square { content: "\e6c1"; }
@mixin icon close-square { content: "\e6c2"; }
@mixin icon close-square-o { content: "\e6c3"; }
@mixin icon check-square { content: "\e6c4"; }
@mixin icon check-square-o { content: "\e6c5"; }
@mixin icon fast-backward { content: "\e6c6"; }
@mixin icon fast-forward { content: "\e6c7"; }
@mixin icon up-square { content: "\e6c8"; }
@mixin icon down-square { content: "\e6c9"; }
@mixin icon left-square { content: "\e6ca"; }
@mixin icon right-square { content: "\e6cb"; }
@mixin icon right-square-o { content: "\e6cc"; }
@mixin icon left-square-o { content: "\e6cd"; }
@mixin icon down-square-o { content: "\e6ce"; }
@mixin icon up-square-o { content: "\e6cf"; }
@mixin icon loading { content: "\e64d"; }
@mixin icon loading-3-quarters { content: "\e6ae"; }
@mixin icon bulb { content: "\e649"; }
@mixin icon select { content: "\e64a"; }
@mixin icon addfile,
@mixin icon file-add { content: "\e910"; }
@mixin icon addfolder,
@mixin icon folder-add { content: "\e914"; }
@mixin icon switcher { content: "\e913"; }
@mixin icon rocket { content: "\e90f"; }
@mixin icon dingding { content: "\e923"; }
@mixin icon dingding-o { content: "\e925"; }
@mixin icon bell { content: "\e64e"; }
@mixin icon disconnect { content: "\e64f"; }
@mixin icon database { content: "\e650"; }
@mixin icon compass { content: "\e6db"; }
@mixin icon barcode { content: "\e652"; }
@mixin icon hourglass { content: "\e653"; }
@mixin icon key { content: "\e654"; }
@mixin icon flag { content: "\e655"; }
@mixin icon layout { content: "\e656"; }
@mixin icon login { content: "\e657"; }
@mixin icon printer { content: "\e673"; }
@mixin icon sound { content: "\e6e9"; }
@mixin icon usb { content: "\e6d7"; }
@mixin icon skin { content: "\e6d8"; }
@mixin icon tool { content: "\e6d9"; }
@mixin icon sync { content: "\e6da"; }
@mixin icon wifi { content: "\e6d6"; }
@mixin icon car { content: "\e6dc"; }
@mixin icon copyright { content: "\e6de"; }
@mixin icon schedule { content: "\e6df"; }
@mixin icon user-add { content: "\e6ed"; }
@mixin icon user-delete { content: "\e6e0"; }
@mixin icon usergroup-add { content: "\e6dd"; }
@mixin icon usergroup-delete { content: "\e6e1"; }
@mixin icon man { content: "\e6e2"; }
@mixin icon woman { content: "\e6ec"; }
@mixin icon shop { content: "\e6e3"; }
@mixin icon gift { content: "\e6e4"; }
@mixin icon idcard { content: "\e6e5"; }
@mixin icon medicine-box { content: "\e6e6"; }
@mixin icon red-envelope { content: "\e6e7"; }
@mixin icon coffee { content: "\e6e8"; }
@mixin icon trademark { content: "\e651"; }
@mixin icon safety { content: "\e6ea"; }
@mixin icon wallet { content: "\e6eb"; }
@mixin icon bank { content: "\e6ee"; }
@mixin icon trophy { content: "\e6ef"; }
@mixin icon contacts { content: "\e6f0"; }
@mixin icon global { content: "\e6f1"; }
@mixin icon shake { content: "\e94f"; }
@mixin icon spin {
  display: inline-block;
  animation: loading-circle 1s infinite linear;
}
