body {
    font-size: 14px;
}

.logo {
    width: 120px;
    height: 31px;
    /*background: #333;*/
    border-radius: 6px;
    margin: 8px 30px 16px 0;
    float: left;
}

.title {
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 24px;
    text-align: center;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

.app {
  padding: 30px;

  & [data-react-toolbox='section'] {
    width: 800px;
    margin: 0 50px 50px 0;
    padding: 50px;
  }

  &::-webkit-scrollbar {
    height: 0;
    width: 0;
  }
}


/* flex  */
.flex {
    display: flex;
}


.flex-1 {
    flex: 1;
}

.flex-2 {
    flex: 2;
}
.flex-3 {
    flex: 3;
    min-width: 0;
}

.flex-wrap {
    flex-wrap: wrap;
}


.flex-align-center {
    align-items: center;
}

.flex-align-end {
    align-items: flex-end;
}

.flex-align-start {
    align-items: flex-start;
}

.flex-align-self-center {
    align-self: center;
}

.flex-align-self-end {
    align-self: flex-end;
}

.flex-justify-center {
    justify-content: center;
}

.flex-justify-between {
    justify-content: space-between;
}

.flex-justify-around {
    justify-content: space-around;
}

.flex-justify-end {
    justify-content: flex-end;
}

.flex-direction-col {
    flex-direction: column;
}

.margin-left {
    margin-left: 20px;
}

.margin-bottom {
    margin-bottom: 20px;
}
