:root {
  --input-background-color: var(--color-white);
  --input-border-color: var(--palette-grey-300);
  --input-field-padding: calc(.8 * var(--unit));
  --input-line-height: 26px;
  --input-color: var(--palette-grey-900);
}
