:root {
  --menu-expand-duration: 0.2s;
  --menu-expand-curve: cubic-bezier(.215,.61,.355,1);
  --animation-curve-default
  --menu-background-color: var(--color-white);
  --menu-padding: calc(0.8 * var(--unit)) 0;
  --menu-item-hover-background: var(--palette-grey-200);
  --menu-item-selected-background: color(var(--color-primary) a(10%));
  --menu-item-icon-font-size: calc(2.4 * var(--unit));
  --menu-item-icon-size: calc(1.6 * var(--menu-item-icon-font-size));
  --menu-item-height: calc(4.2 * var(--unit));
  --menu-item-padding: calc(1.6 * var(--unit));
  --menu-item-font-size: calc(1.4 * var(--unit));
  --menu-icon-size: calc(2.3 * var(--unit));
}
