@import '../colors.css';
@import '../variables.css';
@import './config.css';

.menu {
    display: block;
    text-align: left;
    white-space: nowrap;
    outline: none;
    margin: 0;
    padding: 0;
    list-style: none;
    width: 14rem;
    color: rgba(0,0,0,.65);
    background: #fff;
    overflow: hidden;
    line-height: 46px;
}

.caption {
  flex-grow: 1;
  font-size: var(--font-size-normal);
}

.menuItem {
  align-items: center;
  color: var(--color-text);
  display: flex;
  font-size: var(--menu-item-font-size);
  height: var(--menu-item-height);
  overflow: hidden;
  padding: 0 var(--menu-item-padding);
  position: relative;
  user-select: none;

  &:not(.disabled):hover {
    background-color: var(--menu-item-hover-background);
    cursor: pointer;
  }

  &.disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  &.selected {
    background-color: var(--menu-item-selected-background);
    border-right: 3px solid var(--color-primary);
  }

  & .icon {
    font-size: var(--menu-item-icon-font-size);
    width: var(--menu-item-icon-size);
  }
}

.submenu {
    position: relative;
    .arrow {
        position: absolute;
        top: 50%;
        right: 8px;
        margin-top: -0.5em;
        transform: rotate(0deg);
        transition: transform .2s ease;
        &.open {
            transform: rotate(180deg);
        }
    }
}

.submenu-anim {
    -webkit-transition: height .2s cubic-bezier(.215,.61,.355,1);
    transition: height .2s cubic-bezier(.215,.61,.355,1)
}
